* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* cabecalho */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dae5e8;
    border: 1.5px solid #48453c;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    position: fixed;
    width: 100%;
}

/* tamanho imagem do Cabecalho */

header img{
    width: 200px;
    height: 200px;
}


/* cores das guias ao passar mouse */
.guias:hover {
    color: rgb(255, 255, 255);
}
/* cores das guias ao clicar  */
.guias:active {
    color:#ad9d9d;
}

/* cor das guias é tamanho */
.guias {
    color: #48453c;
    font-size: 18px;
}

/* texto quem somos */
.texto {
    padding-top: 40vh;
    font-size: 20px;
    padding-bottom: 50px;
    text-align: center;
}

/* Formulario email */

.formulario{
    text-align: center;
}

.email{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 16pt; 
}

.inscreva {
    width: 110px; 
    height: 30px;
}
 
/*  Rodape  */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2e3237;
    position: relative;
    width: 100%;
    color: white;
}

/* logo rodape */
.logofooter {
    width: 250px;
}

/* imagens redes sociais */

.imgredes {
    width: 40px;
    height: 40px;
}


/* Responsividade */