* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* cabecalho */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dae5e8;
    border: 1.5px solid #48453c;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    position: fixed;
    width: 100%;
}

/* tamanho imagem do Cabecalho */

header img{
    width: 200px;
    height: 200px;
}


/* cores das guias ao passar mouse */
.guias:hover {
    color: rgb(255, 255, 255);
}
/* cores das guias ao clicar  */
.guias:active {
    color:#ad9d9d;
}

/* cor das guias é tamanho */
.guias {
    color: #48453c;
    font-size: 18px;
}

/* texto quem somos */
.texto {
    padding-top: 40vh;
    font-size: 20px;
    padding-bottom: 50px;
    text-align: center;
}

/* Formulario email */

.formulario{
    text-align: center;
}

.email{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 16pt; 
}

.inscreva {
    width: 110px; 
    height: 30px;
}


 
/*  Rodape  */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2e3237;
    position: relative;
    width: 100%;
    color: white;
}

/* logo rodape */
.logofooter {
    width: 250px;
}

/* imagens redes sociais */

.imgredes {
    width: 40px;
    height: 40px;
}


/* Responsividade smartphones*/
@media screen and (min-device-width : 200px) and (max-device-width : 480px) {
    header {
        display: flex;
        flex-flow: column;
        width: 100vw;
    }

    header img {
        width: 200px;
        height: 200px; 
    }

    .guias {
        font-size: 17px;
        margin: 0px 0px 20px 0px;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    

    main h2 {
        font-size: 28px;
    }

    main p {
        font-size: 20px;
        padding: 0px 10px 0px 10px;
    }

    main button {
        font-size: 17px;
        padding: 8px;
    }

    .imgmain {
        width: 300px;
        height: 300px;
    }

    footer {
        display: block;
        text-align: center;
    }

    .logofooter {
        height: 200px;
        width: 200px;
    }

    .textofooter {
        margin-bottom: 20px;
    }

    footer p {
    font-size: 17px;
    }


    }

/* Responsividade tablets*/
@media screen and (min-device-width : 481px) and (max-device-width : 950px) {
    header {
        display: flex;
        flex-flow: row;
        width: 100vw;
    }

    header img {
        width: 250px;
        height: 250px; 
    }

    .guias {
        font-size: 22px;
        margin: 0px 0px 20px 0px;
    }

   main {
       display: inline-block;
       width: 100vw;
   }

    main h2 {
        font-size: 40px;
    }

    main p {
        font-size: 25px;
        padding: 0px 20px 0px 20px;
    }

    main button {
        font-size: 20px;
      
    }

    footer {
        display: flex;
        align-items: center;
        width: 100vw;
        
    }

    .logofooter {
        height: 200px;
        width: 200px;
    }

    .textofooter {
        font-size: 18px;
    }

    #nameendereco {
        padding-left: 20px;
    }


    footer p {
        font-size: 18px;
    }
    .texto{
        margin: -15% 0 0 0;
  }
}
